{% extends "index.html.twig" %}

{% block head %}
    {{ parent() }}
        <style>
        .price-div {
            text-align: center;
            max-width: 1000px;
        }
        .datetime-div {
            text-align: right;
            max-width: 1000px;
        }
        .rate {
            color: red; 
            font-weight: bold;
        }
        </style>
{% endblock %}

{% block title %}Price{% endblock %}

{% block content %}
    {{ parent() }}
    
    <div class="price-div">
        <p>{{ crypto }} = <span class="rate">{{ exchange_rate }}</span> {{ fiat }}</p>
    </div>

    <div class="datetime-div">
        <p> {{ date}} at {{ time }} </p>
    </div>  
{% endblock %}
